.swiperContainer {
  display: flex;
  width: 420px;
  min-width: 420px;
  padding: 30px 50px;
  user-select: none;
  margin: 0;

  // xsサイズ対応
  @media screen and (max-width: 599px) {
    width: 100%;
    min-width: auto;
    max-width: 370px;
    padding: 0px;

    // 矢印非表示
    :global(.swiper-button-next),
    :global(.swiper-button-prev) {
      display: none;
    }
  }
}

.swiperSlide {
  img {
    width: stretch;
    height: auto;
    display: block;
  }
}

.swiperContainer {
  :global(.swiper-button-next),
  :global(.swiper-button-prev) {
    color: var(--ifm-color-primary);
  }
}

.swiperContainer {
  :global(.swiper-pagination-bullet-active) {
    background-color: var(--ifm-color-primary);
  }
}
